$colorText: #000;
$contentPadding: 0 20px 0 20px;
$mediaPadding: 0 16px 0 16px;
$secondText:#fff;
$linkHover: #A07C72;
$colorIcon:#868686;

$color-focus-outline: #E0B59F;
$background-hover: #D7C8C1;
$color-border-hover: #E0B59F;

$background-active: #E0B59F;
$color-border-active: #D7C8C1;

$color-border-default: #B3B3B3;
$color-border-disabled: #CCCCCC;