* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    padding: 0 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

h3 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 86px;
    color: #000;
}

img{
    max-width: 100%;
}

/* Header */

.header{
    height: 135px;
}

.header__container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.nav-menu{
    margin: 0 20px 0 20px;
}

.nav-menu__list{
    display: flex;
    justify-content: center;
    gap: 55px;
    align-items: center;
}

.nav-menu__item{
    text-align: center;
}

.nav-menu__link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #000;
    position: relative;
}

.nav-menu__link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;
}

.nav-menu__link:hover::after {
    width: 100%;
}

/* Section hero */

.hero{
    background: url('../img/inside-weather-Uxqlfigh6oE-unsplash.jpg') center center / cover no-repeat;
    min-height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47.9%;
    min-height: 360px;
    background-color: #fff;
}

.hero-heading {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 86px;
    line-height: 120%;
    margin-bottom: 14px;
    color: #000;
    text-align: center;
}

.hero-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #000;
}

/* Section Biography */

.biography{
    padding: 150px 137px;
}

.biography__container{
    display: flex;
    max-width: 1165px;
    padding: 0;
}

.biography__heading{
    writing-mode: sideways-lr;
    align-self: flex-start;
    margin: 0 87px 0 29px;
}

.biography__art-img{
    width: 49%;
    object-fit: cover;
}

.biography__info-name{
    line-height: 115px;
}

.biography__info{
    align-content: center;
    width: 39%;
}

.biography__info-skills {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0d0d0d;
    margin: 36px 0 60px 0;
}

.biography__info-quote-text::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 6px;
    top:-20px;
    background: #000;
}

.biography__info-quote-text {
    position: relative;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 26px;
    color: #0d0d0d;
    max-width: 370px;
    line-height: 31px;
}

/* Section Designers */

.designers__name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.designers__info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

/* Section Testimonials */

.testimonials__site-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
}

.testimonials__site-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
}

.testimonials__text {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 32px;
    color: #000;
}

/* Section Strong points */

.strong-points__strengths-item {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 34px;
    color: #000;
}

/* Footer */
.footer {
    background-color: black;
}

.footer__tel,
.footer__email {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
}

.footer__sign{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.footer__createar {
    color: #fff;
    font-weight: 900;
    font-size: 24px;
}

.footer__copyright {
    font-family: "Robot", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}